<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.performancetester.TestMapper">
    <select id="selectAll" resultType="com.example.performancetester.TestEntity">
        SELECT id, value_1, value_2, value_3, value_4, value_5
        FROM test_entity
    </select>
</mapper>